.rates {
  background: #111;
  padding: 100px 0;
}

.rates-wrapper {
  display: flex;
  //   align-items: center;
  justify-content: space-between;
}

.rates-wrapper__item {
  background: rgba(0, 0, 0, 0.4);
  // background-image: linear-gradient(135deg, #a8ddfe 0%, #1800d1 100%);
  border-radius: 10px;
  flex-basis: 29%;

  padding: 20px;
  border: 2px solid #fad049;
}

.rates-numeric {
  color: #fff;
  font-size: 9px;
  // margin-right: auto;
  text-align: end;
  border-radius: 100%;
  border: 2px solid #fad049;
  width: 25px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 100;
  margin-left: auto;
  margin-bottom: 20px;
}

.rates-title {
  font-size: 38px;
  color: #fad049;
  margin-bottom: 5px;
  text-align: center;
  font-weight: 600;
  letter-spacing: -0.02em;
  margin-bottom: 20px;
}

.rates-subtitle {
  font-size: 13px;
  color: #fff;
  margin-bottom: 5px;
  letter-spacing: -0.03em;
  text-align: center;
  border-bottom: 2px solid #fad049;
  padding-bottom: 15px;
  margin-bottom: 20px;
}

.rates-text::before {
  content: "✓";
  width: 20px;
  height: 20px;
  position: absolute;
  border-radius: 100%;
  background: fff;
  // font-size: 10px;
  text-align: center;
  left: 0;
  color: #fad049;
}

.rates-text:nth-child(11)::before,
.rates-text:nth-child(12)::before,
.rates-text:nth-child(13)::before {
  content: "✘";
  width: 20px;
  height: 20px;
  position: absolute;
  border-radius: 100%;
  // background: red;
  // font-size: 10px;
  color: red;
  text-align: center;
  left: 0;
}

.rates-text.full::before,
.rates-text.full::before,
.rates-text.full::before {
  content: "✓";
  width: 20px;
  height: 20px;
  position: absolute;
  border-radius: 100%;
  // background: red;
  // font-size: 10px;
  color: #fad049;
  text-align: center;
  left: 0;
}

.rates-text {
  color: #fff;
  font-size: 14px;
  text-transform: uppercase;
  margin-bottom: 10px;
  position: relative;
  padding-left: 35px;
}

.rates-price {
  font-size: 50px;
  color: #fff;
  text-align: center;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  color: #fad049;
  margin-top: 10px;
  margin-bottom: 10px;
}

.rates-price span {
  font-size: 20px;
  margin-top: 10px;
  margin-left: 3px;
}

.rates-button {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: #fad049;
  border-radius: 20px;
  outline: none;
  color: #111;
  border: none;
  font-weight: 600;
  transition: 0.3s ease-in-out;
  margin-bottom: 0;
}

.rates-button:hover {
  transform: scale(1.1);
}

.rates-main__title {
  color: rgb(255, 255, 255);
  font-size: 54px;
  margin-bottom: 60px;
  text-transform: uppercase;
  font-weight: 600;
  text-align: center;
}
