.areas {
  background: #fff;
  padding: 100px 0;
}

.areas-title {
  color: #111;
  font-size: 54px;
  text-transform: uppercase;
  font-weight: 600;
  text-align: center;
}

.areas-content {
  display: flex;
  flex-direction: row-reverse;
}
